<hello name="{{ name }}"></hello>
<h2>Luca Pedro de Oliveira</h2>
<h2>RA:</h2>

<div>
  <p>Taxa de bitcoin</p>
  <br />
  <!-- <button (click)="updateBitcoinRates()">Atualizar</button> -->
  <br />
  <table>
    <tr>
      <th>Data/Hora</th>
      <th>USD</th>
      <th>BRL</th>
    </tr>
    <!-- <tr *ngFor="let rate of this.bitcoinService.list">
      <td>{{ rate.time.updated }}</td>
      <td>{{ rate.bpi.USD.rate_float }}</td>
      <td>{{ rate.bpi.EUR.rate_float }}</td>
    </tr> -->
  </table>
</div>
